<!DOCTYPE html>
<html>
  <head>
    <title>Motijobs</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag     params[:controller] %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="main-wrapper" class="our-agents-content">
      <%= render 'shared/header' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
    <%= yield 'javasctipt_content' %>
  </body>
</html>
